@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="nav navbar-nav ml-auto">

    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            <a id="flagbutton"><img src="~/images/icons-1.0.0-alpha2/icons-1.0.0-alpha2/icons/flag.svg" id="flag" /></a>
        </li>
        <li class="dropdown">
            <a id="wrenchbutton" data-toggle="dropdown">
                <img src="~/images/icons-1.0.0-alpha2/icons-1.0.0-alpha2/icons/wrench.svg" id="wrenchicon" />
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Account</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li>
                    <form method="post" asp-area="Identity" asp-page="/Account/Logout">
                        <button class="dropdown-item">Logout @User.Identity.Name</button>
                    </form>
                </li>
            </ul>
        </li>
    }

    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Sign up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>