@page
@model PostPrivate.Pages.IndexModel
@{
        
        foreach (var post in Model.NewsFeed)
        {
            <h1>NewsFeed</h1>
            <div class="card-header">
                <div class="media">
                    <img class="mr-3" src="~/images/sean.jpg" alt="Generic placeholder image">
                    <div class="media-body">
                        <h6>@post.TextField</h6>
                    </div>
                </div>
            </div>
            <div class="card-body" style="padding:0;">
                <h3>@post.TextField</h3>
            </div>
            <div class="card-footer">
                <div class="container">
                    <div class="row">
                        <div class="ml-auto">
                            <button type="submit" class="btn btn-outline-primary">Comment</button>
                        </div>
                    </div>
                </div>
            </div>
        }

}


